# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np
np.random.seed(1)
people=np.random.randint(10000000,size=10)
people

array([4686059, 6762380,  491263, 6662859, 9554767, 7361472, 8802433,
       5119559, 7777005, 7633404])

In [4]:
data = {'國家':['a','b','c','d','e','f','g','h','i','j'] ,
        '人口':people }
data = pd.DataFrame(data)
print(data)

        人口 國家
0  4686059  a
1  6762380  b
2   491263  c
3  6662859  d
4  9554767  e
5  7361472  f
6  8802433  g
7  5119559  h
8  7777005  i
9  7633404  j

In [14]:
data.groupby(by="國家")["人口"].max()

國家
a    4686059
b    6762380
c     491263
d    6662859
e    9554767
f    7361472
g    8802433
h    5119559
i    7777005
j    7633404
Name: 人口, dtype: int32

In [16]:
data.sort('國家', ascending=False).groupby('人口', as_index=False).first()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        人口 國家
0   491263  c
1  4686059  a
2  5119559  h
3  6662859  d
4  6762380  b
5  7361472  f
6  7633404  j
7  7777005  i
8  8802433  g
9  9554767  e

In [24]:
data.groupby('人口').apply(lambda t: t[t.國家==t.國家.max()])

                人口 國家
人口
491263  2   491263  c
4686059 0  4686059  a
5119559 7  5119559  h
6662859 3  6662859  d
6762380 1  6762380  b
7361472 5  7361472  f
7633404 9  7633404  j
7777005 8  7777005  i
8802433 6  8802433  g
9554767 4  9554767  e